/*  your css code here. If applicable */

#container {
	margin: 20px;
}
div p::before {
	content: "BeforElement ";
	color: #f00;
    font-size: 20px;
}
div p::after {
	content: " AfterElement";
	color: #f00;
	font-size: 20px;
}